.status {
  font-size: 36px;
  padding: 10px;
  background-color: grey;
  border: solid 10px;
  border-radius: 5px;
}

.error {
  color: red;
  border-color: red;
}

.success {
  color: green;
  border-color: green;
}
